# Modo mock: true = salva localmente em mock_sftp_folder/ (para testes)
#            false = conecta no SFTP real
SFTP_MOCK=true

# Credenciais SFTP real
SFTP_HOST=chc-sftp-amer.opellahealth.com
SFTP_PORT=22
SFTP_USER=int_dev
SFTP_KEY_PATH=sftp_key.pem
SFTP_DIR=/INT/in/manual_files
